
/.vs/CalamityThrowingSpear/FileContentIndex
/.vs/CalamityThrowingSpear/FileContentIndex
.vs/CalamityThrowingSpear/DesignTimeBuild/.dtbcache.v2
.vs/CalamityThrowingSpear/DesignTimeBuild/.dtbcache.v2
/.vs
