# 忽略 .csproj 目录
*.csproj
# 忽略 .vs 目录
.vs/
# 忽略 .bin 文件
*.bin
# 忽略 .v2 文件
*.v2
# 忽略 .json 文件
*.json
# 忽略临时文件
*.tmp
*.log
.vs/CalamityX/v17/.suo
.vs/CalamityX/v17/fileList.bin
obj/
obj/Debug/net8.0/CalamityThrowingSpear.AssemblyInfo.cs
obj/Debug/net8.0/CalamityThrowingSpear.AssemblyInfoInputs.cache
obj/CalamityThrowingSpear.csproj.nuget.dgspec.json
obj/CalamityThrowingSpear.csproj.nuget.g.props
obj/Debug/net8.0/CalamityThrowingSpear.assets.cache
obj/Debug/net8.0/CalamityThrowingSpear.csproj.AssemblyReference.cache
obj/Debug/net8.0/CalamityThrowingSpear.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/refint/CalamityThrowingSpear.dll
obj/Debug/net8.0/ref/CalamityThrowingSpear.dll
obj/Debug/net8.0/CalamityThrowingSpear.pdb
obj/Debug/net8.0/CalamityThrowingSpear.dll
bin/Debug/net8.0/CalamityThrowingSpear.pdb
bin/Debug/net8.0/CalamityThrowingSpear.dll
obj/Debug/net8.0/CalamityThrowingSpear.pdb
obj/Debug/net8.0/CalamityThrowingSpear.csproj.CoreCompileInputs.cache
bin/Debug/net8.0/CalamityThrowingSpear.dll
bin/Debug/net8.0/CalamityThrowingSpear.dll
bin/Debug/net8.0/CalamityThrowingSpear.pdb
bin/Debug/net8.0/CalamityThrowingSpear.pdb
bin/Debug/net8.0/CalamityThrowingSpear.dll
